section, article, aside, header, footer, nav, dialog, figure {display: block;}
html, body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {margin:0; padding:0;}
body, button, input, select, textarea{font: 12px/1.5 verdana,arial,\5b8b\4f53,sans-serif;}
h1, h2, h3, h4, h5, h6, button,input,select,textarea{font-size:100%;}
ul,ol{list-style:none;}
a{text-decoration:none;}
a:hover{text-decoration:underline;}
img {border:0; display:block;}
.fix { display: inline-block; }
.fix { display: block; overflow: hidden; }
.clear { *zoom: 1; }
.clear:after { clear: both; content: '\20';display: block;height: 0; }


.efadv_fixmaster .efadv_header, .efadv_fixmaster .efadv_header_nav li a, .efadv_fixmaster .efadv_header_nav li span, .efadv_fixmaster .efadv_contact span{background-image:url(../images/header.png); background-repeat:no-repeat;}
.efadv_fixmaster .efadv_header{width:960px;margin:0 auto;background-position:0 -107px;background-repeat:repeat-x;overflow:hidden;}
.efadv_fixmaster .efadv_logo{float:left;}
.efadv_fixmaster .efadv_header_nav{float:left;padding-top:35px;}
.efadv_fixmaster .efadv_header_nav li{float:left; margin-left:5px;}
.efadv_fixmaster .efadv_header_nav li a{float:left;font-weight: bold;color:#fff;background-position:0 -19px;padding-left:10px;text-decoration:none;height:19px;line-height:19px;}
.efadv_fixmaster .efadv_header_nav a span{float:left;white-space:nowrap;display:inline;padding-right:10px;height:19px;line-height:19px;background-position:right -19px;}
.efadv_fixmaster .efadv_header_nav li a.current{background-position:0 0;}
.efadv_fixmaster .efadv_header_nav a.current span{background-position:right 0;}
.efadv_fixmaster .efadv_contact{padding-left:30px;float:right;margin:28px 20px 0 0;line-height:1.2;color:#0166aa;}
.efadv_fixmaster .efadv_contact span{background-position:0 -175px;height:12px;width:18px;margin:10px 0 0 -25px;float:left;overflow:hidden;}
.efadv_fixmaster .efadv_contact:hover{text-decoration:none;}

.efadv_fixmaster .efadv_banner{width:960px;margin:0 auto;margin-top:10px;}

.efadv_fixmaster .efadv_main{width:960px;margin:0px auto;}
.efadv_fixmaster .efadv_hotpos{float:left;width:734px;color:#666;}
.efadv_fixmaster .efadv_jobsearch{float:left;background:url(../images/efadv_index_form_bg.jpg) no-repeat; width:196px; height:403px;margin:40px 0 0 30px;}
.efadv_fixmaster .efadv_hotpos h3{font-size:16px;color:#4a545e;padding-left:30px;height:44px;line-height:44px;}

.efadv_fixmaster .efadv_gray{background-color:#eee;}
.efadv_fixmaster .efadv_hotcontent{padding:10px;height:60px;}
.efadv_fixmaster .efadv_hotcontent a{font-size:16px; color:#ff9900;line-height:1}
.efadv_fixmaster .efadv_hotcontent dd{margin-top:5px;height:36px;overflow:hidden;}

.efadv_fixmaster .efadv_jobsearch h3{color:#fff;font-size:16px;text-align:center;font-weight:bold;height:58px;line-height:58px;}
.efadv_fixmaster .efadv_jobsearch_form {padding:18px;color:#fff;}
.efadv_fixmaster .efadv_form_select, .efadv_form_input{background-color:#fff;width:150px;font-size:14px;}
.efadv_fixmaster .efadv_jobsearch_height{height:25px;}
.efadv_fixmaster .efadv_jobsearch_submit{text-align:right;}
.efadv_fixmaster .efadv_jobsearch_button{padding:0 5px 2px;height:24px;}


.efadv_fixmaster .efadv_positionarea{margin:30px auto 0;width:960px;}
.efadv_fixmaster .efadv_areadetail{border-left:1px solid #ccc;margin-left:-1px;width:270px;padding-right:50px;float:left;}
.efadv_fixmaster .efadv_areadetail h4{font-size:16px; color:#4a545e;padding-left:30px;}
.efadv_fixmaster .efadv_areadetail h4 a{color:#0066b7;}
.efadv_fixmaster .efadv_detaillist{list-style:disc inside;margin:5px 0 0 40px;color:#0066b7;}
.efadv_fixmaster .efadv_detaillist a{color:#333;}
.efadv_fixmaster .efadv_areamore{color:#0066b7;float:right;margin-top:18px;}


.efadv_fixmaster .efadv_partners{margin:30px auto 0;width:960px;}
.efadv_fixmaster .efadv_partners h3{font-size:16px;color:#4a545e;padding-left:30px;height:44px;line-height:44px;}
.efadv_fixmaster .efadv_partners_content{width:960px;}
.efadv_fixmaster .efadv_partners_content a{float:left;margin:0 0 12px 12px;}


.efadv_fixmaster .efadv_left{width:205px;float:left;}
.efadv_fixmaster .efadv_hotpos_left{}
.efadv_fixmaster .efadv_hotpos_left a{height:48px; line-height:1;color:#FF9900;font-weight:bold;}
.efadv_fixmaster .efadv_hotpos_left li{border-bottom:1px solid #e1e1e1;padding:15px 0 15px 20px;}
.efadv_fixmaster .efadv_hotpos_left h3{font-size:16px;color:#4a545e;padding-left:10px;height:44px;line-height:44px;}

.efadv_fixmaster .efadv_ad_left{padding:10px 0 0 10px;margin-top:-1px;background-color:#fff;}
.efadv_fixmaster .efadv_ad_left a{margin-bottom:20px;display:block;}

.efadv_fixmaster .efadv_rightcol{float:left;margin-left:20px;width:730px;}
.efadv_fixmaster .efadv_rightcol h2{color:#4A525E;font-size:20px;height:40px;line-height:40px;margin:20px 0;}
.efadv_fixmaster .efadv_rightcol h2 input{font-size:12px;margin-left:10px;}

.efadv_fixmaster .efadv_abt_imgcon{float:left;width:200px;height:200px;}
.efadv_fixmaster .efadv_abt_imgcon img{display:block;margin:0 auto;margin-top:40px;}
.efadv_fixmaster .efadv_about{width:730px;}
.efadv_fixmaster .efadv_qualifications{margin:15px 0;}
.efadv_fixmaster .efadv_qualifications dt{padding:5px;}
.efadv_fixmaster .efadv_qualifications  dd{padding-left:15px;}
.efadv_fixmaster .efadv_qualifications dfn{font-family:sumsun;padding-right:5px;font-style:normal;}
.efadv_fixmaster .efadv_button{float:right;margin:30px;}
.efadv_fixmaster .efadv_inline{display:inline;}

.efadv_fixmaster .efadv_list li{padding:10px 0 10px 10px;color:#666;line-height:20px;}
.efadv_fixmaster .efadv_list span{float:left;line-height:20px;}
.efadv_fixmaster .efadv_list a{color:#666;}
.efadv_fixmaster .efadv_list .efadv_list_col1{width:400px;}
.efadv_fixmaster .efadv_list .efadv_list_col2{width:200px;}
.efadv_fixmaster .efadv_paging_holder{float:right;margin:20px 30px ;}