html, body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {margin:0; padding:0;}
body, button, input, select, textarea{font: 12px/1.5 verdana,arial,\5b8b\4f53,sans-serif;}
h1, h2, h3, h4, h5, h6, button,input,select,textarea{font-size:100%;}
input, select, button{vertical-align:middle;}
ul,ol{list-style:none;}
a{color:#000;}
a:hover{text-decoration:underline;}
img {border:0;}
.fix { display: inline-block; }
.fix { display: block; overflow: hidden; }
.clear { *zoom: 1; }
.clear:after { clear: both; content: '\20';display: block;height: 0;}


.efadv_main{width:780px;margin: 30px;}
.efadv_form{border:1px solid #999;text-align:left;width:100%;padding-bottom:10px;}
.efadv_form caption{background-color:#f0f0ee;text-align:left;font-size:14px;font-weight:bold;height:30px;line-height:30px;text-indent:10px;}
.efadv_form table{width:100%;}
.efadv_form_require{color:red;font-family:simsun;font-style:normal;padding-right:5px;}
.efadv_checkbox {margin-right:10px;}
.efadv_checkbox input {margin:0 5px 0 0;}

.efadv_input{width:250px;border: 1px solid #ccc;height:18px;outline:0;}
.efadv_select{border: 1px solid #CCCCCC;width:220px;}

.efadv_upload th,.efadv_upload td{height:40px;padding-left:10px;}
.efadv_update_sumbmit{float:right;font-size:15px;margin-right:20px;height:30px;width:150px;}
.efadv_upload th{width:25%}
.tinymce {display:none;}
.mceEditor td{height:auto;}

.efadv_list_filter label{float:left;margin-left:20px;}
.efadv_list_filter select{margin-left:10px;}
.efadv_list_content label{}
.efadv_list_content a:hover{background-color:#ccc;}
.efadv_list_filter td, .efadv_list_content td{height:40px;padding-left:10px;}
.efadv_list_thead th{border-bottom:1px solid #999;height:40px;padding-left:10px;text-align:left;}
.efadv_list_old {background-color:#eee;}
.efadv_list_submit{text-align:center;margin: 10px 0 0 10px;}

.efadv_list_paging{float:right;margin:10px 15px 0 0}
