html { background:#FFF; }
/*box reset*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin:0; padding:0; }
/*text reset*/
body, a, span, div, dl, dt, dd, ul, ol, li, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { color:#333; font-family: Verdana, Helvetica, sans-serif; font-size:12px; line-height:18px; }
input, textarea, select { vertical-align:middle; background:#FFFFFF; padding:2px; font-family:inherit;font-size:inherit;font-weight:inherit;}
/*basic link*/
a { color:#005695; text-decoration:none; }
a:link { color:#005695; text-decoration:none; }
a:visited { color:#005695; text-decoration:none; }
a:hover { color:#F6921D; text-decoration:underline; }
a:active { color:#F6921D; text-decoration:none; }
/*common functional class*/
.inline { display:inline; }
.block { display:block; }
.hidden { visibility:hidden; }
.none-dspl { display:none; }
.none-bg { background:none; }
.none-bdr { border:none; }
.none-deco { text-decoration:none; }
.clear { clear:both; overflow:hidden; height:0; font-size:0; }
.flt-left { float:left; }
.flt-right { float:right; }
.algn-left { text-align:left; }
.algn-center { text-align:center; }
.algn-right { text-align:right; }
.bold { font-weight:bold; }
.normal { font-weight:normal; }
.red { /*	color:#FF0000;*/
 color:#d96363; }
.green { color:#00FF00; }
.yellow { color:#FFFF00; }
.blue { color:#0067c4;/*#0000FF;*/ }
.grey { color:#c6c6c6; }
img { border:0; }
/*profile page style start*/
.efadv_out_con { width:974px; }
.efadv_out_con h2, .efadv_out_con h3 { padding:10px; }
.efadv_profile_con h2 { color:#4A535E; font-size:22px; }
.efadv_profile_con h3 { padding:5px 10px; color:#FF9900; background:#fff; font-size:12px; font-weight:bold; border:1px solid #E6E6E6; }
.efadv_sub_nav_con { background:url(../images/sub_nav_bg.jpg) repeat-x; height:68px; }
.efadv_logo2 { float:left; width:227px; }
/*sub nav*/
.efadv_sec_nav { float:right; height:41px; background:url(../images/sec_nav_bg.jpg) repeat-x; width:568px; float:left; margin:27px 5px 0 5px; display:inline; }
.efadv_sec_nav li a { float:left; cursor:pointer; }
.efadv_sec_nav li a:hover { text-decoration:none; }
.efadv_sec_nav li { float:left; display:inline; margin-left:5px; height:41px; }
.efadv_sec_nav li.first {/*padding-left:125px; margin-left:0;*/ }
.efadv_sec_nav_arrow { font-size:11px; font-weight:bold; color:#fff; display:block; height:41px; line-height:32px; float:left; }
.efadv_active_item .efadv_sec_nav_arrow { background:url(../images/sec_nav_active_arrow.jpg) no-repeat bottom center; vertical-align:middle; }
.efadv_active_item .efadv_sec_nav_l { overflow:hidden; float:left; background: url(../images/sec_nav_active_l.jpg) no-repeat top left; height:41px; width:11px; }
.efadv_active_item .efadv_sec_nav_bg { float:left; background: url(../images/sec_nav_active_bg.jpg) repeat-x; height:41px; display:block; line-height:32px; vertical-align:middle; }
.efadv_active_item .efadv_sec_nav_r { float:left; background: url(../images/sec_nav_active_r.jpg) no-repeat top right; height:41px; width:10px; }
.efadv_sec_nav_l { overflow:hidden; float:left; background: url(../images/sec_nav_normal_l.jpg) no-repeat top left; height:41px; width:11px; }
.efadv_sec_nav_bg { float:left; background: url(../images/sec_nav_normal_bg.jpg) repeat-x; height:41px; display:block; line-height:32px; vertical-align:middle; }
.efadv_sec_nav_r { float:left; background: url(../images/sec_nav_normal_r.jpg) no-repeat top right; height:41px; width:10px; }
.efadv_contact { text-indent:-9999px; background:url(../images/contact.jpg) no-repeat; width:114px; height:22px; float:right; margin:31px 20px 0 0; }
/*form container*/
.efadv_info_con { padding:0 10px; }
.repeat_efadv_info_con { background:#F5F5F5; padding-bottom:15px; margin-bottom:20px; }
input { border:1px solid #CCCCCC; float:left; }
.efadv_input_superlong { width:575px; height:20px; }
.efadv_input_middle { width:200px; height:20px; }
.efadv_input_short { width:60px; height:20px; }
.efadv_input_grey { width:130px; height:20px; background:#EFEFEF; }
.efadv_input_grey_short { width:80px; height:20px; background:#EFEFEF; }
.repeat_efadv_info_con label { width:165px; text-align:right; float:left; padding-right:5px; height:26px; line-height:26px; }
.repeat_efadv_info_con .single_select { padding:0 30px 0 5px; width:auto; text-align:left; float:left; height:26px; line-height:26px; }
.efadv_form_info { padding:0 10px; }
.efadv_f_col { float:left; margin:15px 0 0px 0; display:inline; }
.efadv_lines_2 { width:376px; }
.efadv_lines_3 { width:230px; }
.efadv_lines_4 { margin-top:0; width:140px; }
.efadv_lines_5 { margin-top:0; width:200px; }
.efadv_no_border_g { border:0; background:#F5F5F5; float:left; height:26px; line-height:26px; }
.repeat_efadv_info_con .efadv_long_label { width:;
}
.repeat_efadv_info_con button { float:left; display:inline; margin-left:5px; }
.efadv_margin_no { margin:0; }
.efadv_pad_check_con { padding:0 110px; }
.efadv_notice { overflow:scroll; width:840px; height:103px; margin-left:40px; border:1px solid #ccc; }
.efadv_notice_check { margin:10px 0 0 40px; }
.efadv_notice_check_w { margin:10px 0 0 0px; }
.efadv_no_mar { margin:0; padding-left:80px; width:220px; }
/*profile view page*/
.efadv_user_info_pv { float:left; color:#333333; font-weight:bold; height:26px; width:190px; line-height:26px; padding-left:10px; }
.efadv_user_avatar { float:left; display:inline; margin-left:10px; }
.efadv_long_length { width:575px; }
.efadv_long_passage { padding:20px 20px 0 50px; width:874px; }
label.efadv_user_info_pv { padding-left:0; }
/*faq page*/
.efadv_faq_con { padding-top:30px; }
.efadv_lft_col { width:203px; float:left; }
.efadv_lft_col h2 { font-size:16px; color:#4A545E; font-weight:bold; padding:0; }
.efadv_vertical_nav { margin-bottom:40px; }
.efadv_vertical_nav li { border-bottom:1px solid #E1E1E1; padding:15px 0 15px 15px; }
.efadv_vertical_nav .efadv_last_noborder { border:none; }
.efadv_vertical_nav li a { font-weight:bold; color:#FF9900; }
.efadv_vertical_nav li a:link { color:#FF9900; }
.efadv_vertical_nav li a:visited { color:#FF9900; }
.efadv_vertical_nav li a:hover { color:#FF9900; }
.efadv_vertical_nav li a:active { color:#FF9900; }
.efadv_lftimg_con img { margin-bottom:30px; }
.efadv_rt_col { float:right; width:640px; padding:0 40px; }
.efadv_rt_col h2 { font-size:22px; color:#4A525E; padding:0px 0 10px 0; }
.efadv_rt_col h3 { font-size:14px; color:#666666; padding:10px 0; }
.efadv_passage_bx { margin-top:20px; }
.efadv_passage_bx h4 { color:#333333; font-weight:bold; }
.efadv_ori_list { padding-left:20px; }
.efadv_ori_list li { list-style:disc; padding-left:15px; }
.efadv_grey_bg_words { padding-left:10px; }
.efadv_grey_bg_words p { width:656px; height:187px; text-indent:-9999px; margin-bottom:30px; }
.words1 { background:url(../images/words1.jpg) no-repeat; }
.words2 { background:url(../images/words2.jpg) no-repeat; }
.efadv_faq_d { }
.efadv_faq_d p.blue { color:#0066B7; font-weight:bold; margin-bottom:10px; }
.efadv_faq_d ol { padding-left:25px; }
.efadv_faq_d ol li { list-style: decimal; margin-bottom:10px; }
/*skill builders*/
.efadv_build_bx p { margin:10px 0; }
.efadv_build_bx p.efadv_margin_no { margin:0px; }
.efadv_build_bx ul { margin-left:10px; }
.efadv_steps_bx { }
.efadv_steps_bx h3 { font-size:16px; font-weight:bold; color:#333; }
.efadv_video_bx { padding:10px; text-align:center; }
.efadv_steps_bx span { padding-left:45px; }
.efadv_steps_bx .efadv_nomal_indent { padding-left:0; }
/*joblist*/
.efadv_joblist_bx_out { padding:0 20px; width:662px; }
.efadv_joblist_bx { }
.efadv_repeat_it { }
.efadv_repeat_it_bg { background:#eee; }
.efadv_joblist_bx .efadv_repeat_it { height:20px; padding:10px; }
.efadv_joblist_bx p { color:#666; }
.efadv_joblist_bx .efadv_repeat_it_bg { height:20px; padding:10px; }
/*jobdetail*/

.efadv_left_rp { float:left; width:400px; }
.efadv_rt_rp { float:right; width:150px; }
.efadv_rt_about { float:right; width:480px; }
.efadv_abt_imgcon { float:left; padding:15px; width:120px; }
.efadv_star_orlist { padding-left:0; }
.efadv_star_orlist li { list-style-type:none; }
.efadv_jobdetail_bx { padding:0 10px; width:700px; }
/*index page*/
.efadv_index_con { padding-top:30px; }
.efadv_index_con h3 { padding-left:32px; font-size:16px; font-weight:bold; color:#4A545E; }
.efadv_ind_lftcol { float:left; width:700px; }
.efadv_ind_rtcol { float:right; background:url(../images/efadv_index_form_bg.jpg) no-repeat; width:196px; height:403px; margin-top:30px; }
.efadv_indexlist_bx { }
.efadv_repeat_it { }
.efadv_repeat_it_bg { background:#eee; }
.efadv_indexlist_bx { }
.efadv_indexlist_bx .efadv_repeat_it { height:59px; padding:10px; }
.efadv_indexlist_bx .efadv_repeat_it_bg { height:59px; padding:10px; }
.efadv_indexlist_bx p { color:#666; }
.efadv_repeat_it_bg .efadv_orange_title, .efadv_repeat_it .efadv_orange_title { font-size:16px; color:#FF9900; margin-bottom:5px; }
.efadv_index_btbx { padding:0 10px 0 20px; }
.efadv_ind_rtcol h3 { color:#fff; text-align:center; padding:20px; }
.efadv_index_form form { color:#fff; padding:20px; }
.efadv_input_normal { width:160px; height:30px; line-height:30px; background:#EFEFEF; }
.selc_p { padding:5px; _font-size:20px; *+font-size:20px;
}
.selc_p option { padding:5px; height:30px; line-height:30px; color:#4A545E; font-weight:normal; }
.efadv_input_text { height:22px; width:155px; }
.efadv_partners_con { margin-bottom:20px; width:924px; }
.efadv_partners_con img { float:left; display:inline; margin:4px 4px 0 0; }
.efadv_last_img { padding:0; }
.efadv_index_3cols { margin-top:30px; }
.efadv_cols { float:left; border-right:1px solid #CCCCCC; padding:0 50px 0 0; width:270px; }
.efadv_cols ul { padding-left:42px; }
.efadv_cols ul li { background:url(../images/blue_circle.jpg) no-repeat; padding-left:15px; ; }
.efadv_cols ul li a { color:#333; }
.efadv_cols ul li a:link { color:#333; }
.efadv_cols ul li a:visited { color:#333; }
.efadv_cols ul li a:hover { color:#333; }
.efadv_cols ul li a:active { color:#333; }
.efadv_cols h3 span { color:#0066B7; font-size:16px; font-weight:bold; }
.efadv_md_cols { }
.efadv_last_cols { border:none; padding-right:0; }
.efadv_index_more { float:right; }


.efadv_footer_statement{color:#999; text-align:center; line-height:18px; padding:10px;}