<form action="/dfat/forestage/updateunittest/" Method="post">
tid:<input type="text" value="" name="tid" /><br />
uid:<input type="text" value="" name="uid" /><br />
test_hours:<input type="text" value="" name="test_hours" /><br />
subject:<input type="text" value="" name="subject" /><br />
envirnment:<input type="text" value="" name="envirnment" /><br />
procedure:<input type="text" value="" name="procedure" /><br />
remark:<input type="text" value="" name="remark" /><br />
action_plan:<input type="text" value="" name="action_plan" /><br />
memos:<input type="text" value="" name="memos" /><br />
<input type="submit" value="submit" /> <!--
	 id:<input type="text" value="" name="id" /><br />
	 tid:<input type="text" value="" name="tid" /><br />
	content:<input type="text" value="" name="content" /><br />
	real_hours:<input type="text" value="" name="real_hours" /><br />
	<input type="submit" value="submit" />-->

tid,uid,test_hours,subject,envirnment,procedure,remark,action_plan,memos,
</form>